@use '../../style/var.scss';

.game_wrapper {
    display: flex;
    flex-direction: column;

    max-width: 1020px;
    height: 100vh;
    margin: 0 auto;

    background-color: var.$white_color;
    box-shadow: 0px 0px 26px 20px var.$box_shadow_wrapper;
}

.main {
    width: 100%;
    height: 100%;
}
