$body_color: #d1e3e3;
$white_color: white;
$black_color: black;
$lite_grey: rgb(172, 170, 170);

$blue_color: rgb(43, 43, 162);
$dark_blue: rgb(10, 10, 48);
$dark_blue_hover: rgb(38, 38, 97);
$lite_blue: rgb(110, 110, 244);

$shadow_color_line: rgb(228, 225, 225);

$box_shadow_wrapper: rgba(34, 60, 80, 0.2);
